@page
@model Livraria_do_Rafa.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "Criacao_Livro";
}

<h1>Details</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.ImagemUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.ImagemUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.PrecoNormal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.PrecoNormal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.PrecoComDesconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.PrecoComDesconto)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Livro?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
